*{
    box-sizing: border-box;
}

html{
    font-family: 'Barlow', sans-serif;
}



#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    
    
   
}





.main-head{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    margin-top: 1rem;
}


header a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

header img{
    margin-left: 1rem;
}

.wrapper{
    display: grid;
    grid-gap: 70px;
    grid-template-rows: 1fr 300px ;
    grid-template-areas: 
                          "information"
                          "image"  ;
                          margin-top: 3rem;

                          
    
}

.image-top{
    grid-area: image;
    display: flex;
    justify-content: flex-end;
}

.toppy-image{
    width: 22rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    max-width: 399px;
}






.left-side{
    grid-area: information;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 399px;
}

.left-side h1{
    font-size: 3rem;
    font-weight: 900;
    color: #162542;
}

.left-side p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: #7B8BAD;
}

.left-side a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.left-side .orange{
    background-color: #F16718 ;
    color: #fff;
    margin-right: 2rem;
}

.links{
    display: flex;
    flex-direction: row;
    
    
}

.small-grey{

    display: none;
}

#second_section{
margin-top: 2rem;


}

.middle-wrapper{
   
        display: grid;
        gap: 40px 25px;
        grid-template-columns: 25% 220px 5% ;
        grid-template-rows: 200px 400px  ;
        grid-template-areas: 
                              "image image2 ."
                              "words words words" ;
                              max-width: 399px;
    
                              
        
    
}

.image-1{
grid-area: image;
background-image: url('imgs/mobile/image-phone-and-keyboard.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: right;
width: auto;
border-bottom-right-radius:1rem ;
border-top-right-radius:1rem ;


}

.layer{
    width: 100%;
    height: 100%;
    background-color: hsla(22, 89%, 52%, 0.70);
    border-bottom-right-radius:1rem ;
border-top-right-radius:1rem ;
}

.image-2{
grid-area: image2;
background-image: url('imgs/mobile/image-glass-and-keyboard.jpg');
width: auto;
border-radius: 1rem;
background-repeat: no-repeat;
background-size: cover;


}

.words{
grid-area: words;
text-align: center;
display: flex;
flex-direction: column;

width: 375px;
max-width: 399px;
}

.words h2{
    font-size: 2rem;
    font-weight: 900;
    color: #162542;
    margin-bottom: 1rem;
    line-height: 2.5rem;
}

.words p{
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #7B8BAD;
    line-height: 2rem;
}

@media screen and (min-width:403px) and (max-width: 768px)    {
    .image-1{
        border-radius: 1rem;
    }

    .toppy-image{
      border-radius: 1rem;
    }

    .layer{
      border-radius: 1rem;
    }
}





 @media screen and (min-width: 768px){
    .wrapper{
        display: grid;
        grid-template-columns:  1fr 337px;
        grid-template-rows: 1fr;
        grid-gap: 70px;
        grid-template-areas: "information image";
        max-width: 1024px;
        
            
        
        
        
                        
    
    }

    .small{
        display: none;
    }

    

    .image-top{
        grid-area: image;
        display: flex;
        justify-content: flex-end;
        background-image: url('imgs/tablet/image-keyboard.jpg');
        width: auto;
        height: 27rem;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;


    }

    .left-side{
        padding: 1.5rem;
        margin-top: 2rem;
    }


    .middle-wrapper{
   
        display: grid;
        gap: 50px 30px;
        grid-template-columns: 14rem 450px 5%;
        grid-template-rows: 300px 200px  ;
        grid-template-areas: 
                              "image image2 ."
                              "words words words" ;
                              max-width: 1024px;
                              padding: 1rem;
                              justify-content: center;
    
                              
        
    
}

.layer{
    border-radius: 1rem;
    
  }

.image-1{
    grid-area: image;
    background-image: url('imgs/tablet/image-phone-and-keyboard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: auto;
    border-radius: 1rem;
   
    
    
    }

    .image-2{
        grid-area: image2;
        background-image: url('imgs/tablet/image-glass-and-keyboard.jpg');
        width: auto;
        border-radius: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        
        
        }

        .words{
           
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            text-align: left;
            padding-left: 1rem;
            max-width:none;
            width: auto;
           
            }


            .words p{
                padding-right: 4rem;
                padding-left: 4rem;
            }

   

    

}


@media screen and (min-width:810px){
    .image-top{
        border-radius: 1rem;
    }
}

@media screen and (min-width: 1440px){


    .wrapper{
        display: grid;
        grid-template-columns:  40rem 30rem 20%;
        grid-template-rows: 1fr;
        grid-gap: 30px;
        grid-template-areas: "information image .";
        max-width: 1440px;
        
        
        
        
                        
    
    }


    .image-top{
        grid-area: image;
        display: flex;
        background-image: url('imgs/desktop/image-keyboard.jpg');
        width: auto;
        height: 27rem;
        background-repeat: no-repeat;
        background-size: cover;
       border-radius: 1rem;
       position: relative;
     
       
       
    }

    .left-side{
        padding: 1.5rem;
        margin-top: 2rem;
        max-width: 550px;
    }


    


    .small-grey{

        display: block;
        width: 15rem;
        height: 15rem;
        background-color: #c5cbce;
        position: absolute;
       
        right: -17rem;
        border-radius: 1rem;
       
        
    }

    .left-side h1{
        font-size: 4rem;
    }
    
    .left-side p{
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .left-side a{
       
        font-size: 1rem;
    }


    .middle-wrapper{
   
        display: grid;
        gap: 50px 30px;
        grid-template-columns: 270px 30rem 20rem;
        grid-template-rows: 400px   ;
        grid-template-areas: 
                              "image image2 words";
                              max-width: 1440px;
                              padding: 1rem;
                              justify-content: center;
    
                              
        
    
}

.image-1{
   
    background-image: url('imgs/desktop/image-phone-and-keyboard.jpg');
   background-position: center;

   
    
    
    }

    .image-2{
      
        background-image: url('imgs/desktop/image-glass-and-keyboard.jpg');
       background-position: center;
        
        
        }

.words{
           
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    
    }

    .words p{
        padding-left: 0rem;
        padding-right: 0rem;
       
    }




}


    

   



    /* .image-top{
        grid-area: image;
        display: flex;
        justify-content: flex-end;
background-image: url('imgs/tablet/image-keyboard.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 325px;
        height: 30rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }



    .left-side{

        padding: 2rem;
        margin-top: 2rem;
    }

    

    .small{
        display: none;
    }


    

   
}


@media screen and (min-width: 1440px){

    #first_section{
        display: grid;
        grid-template-columns: minmax(auto, 720px) 1fr 1fr;
        grid-gap:40px 0px;
        grid-template-areas: "header header header"
                            "information image .";
        max-width: 1440px;
            
        
        
        
                        
    
    }


} */



/* header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    max-width: 1440px;
    width: 100%;
   
}

header img{
    margin-left: 1rem;
}

header a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.section1{
    display: flex;
    flex-direction: column;
    
}

.left-side{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 399px;
}

.left-side h1{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 900;
    color: #162542;
}

.left-side p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: #7B8BAD;
}

.left-side a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.left-side .orange{
    background-color: #F16718 ;
    color: #fff;
    margin-right: 2rem;
}

.links{
    display: flex;
    flex-direction: row;
    
    
}

.right-side{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
   
   
}





.mobilekeys{
    width: 21rem;
    border-top-left-radius:1rem ;
    border-bottom-left-radius: 1rem ;
    margin-top: 2rem;
   
}

.tabletkeys{
    display: none;
}

.desktopkeys{
    display: none;
}

.littlesquare{
    display: none;
    height: 10rem;
    width: 10rem;
} */

/* @media screen and (min-width: 768px){
    .section1{
        
        flex-direction: row;
       margin-top: 3rem;

        
    }

    

    .mobilekeys{
        display: none;
    }

    .tabletkeys{
        display: block;
        width: 24rem;
        border-top-left-radius:1rem ;
        border-bottom-left-radius: 1rem ;
        height: 25rem;
    }


@media screen and (min-width: 1440px){
    .littlesquare{
        display: block;
        height: 10rem;
        width: 8rem;
        background-color: red;
        border-radius: 1rem;
        margin-left: 2rem;
      
    
    }

    .section1{
        
        flex-direction: row;
       margin-top: 1rem;
       justify-content: space-around;
     

        
    }

    .left-side{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        max-width: 550px;
    }

    .tabletkeys{
       display: none;
    }

    .desktopkeys{
        display: block;
        width: 40rem;
        border-radius: 1rem;
    }
} */





}