*{
    box-sizing: border-box;
}

html{
    font-family: 'Barlow', sans-serif;
}

.content{

    display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "box1"
    "box2"
    "sidebar"
    "ad"
    "footer";
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    grid-area: header;
}

header a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 1rem;
}

