*{
    box-sizing: border-box;
}

html{
    font-family: 'Barlow', sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

#first_section{
    display: grid;
    grid-template-columns: minmax(auto, 425px);
    grid-template-rows: 1fr 300px 300px;
    grid-gap: 60px;
    grid-template-areas: "header"
                          "information"
                          "image"  ;

}

.main-head{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    margin-top: 1rem;
}

header a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

header img{
    margin-left: 1rem;
}

.image-top{
    grid-area: image;
    display: flex;
    justify-content: flex-end;
}

.toppy-image{
    width: 22rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}




.left-side{
    grid-area: information;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 399px;
}

.left-side h1{
    font-size: 3rem;
    font-weight: 900;
    color: #162542;
}

.left-side p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: #7B8BAD;
}

.left-side a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.left-side .orange{
    background-color: #F16718 ;
    color: #fff;
    margin-right: 2rem;
}

.links{
    display: flex;
    flex-direction: row;
    
    
}

/* @media screen and (min-width: 768px){
    #first_section{
        display: grid;
        grid-template-columns: minmax(auto, 384px);
        grid-template-rows: 1fr 300px 300px;
        grid-gap: 60px;
        grid-template-areas: "header"
                              "information image"
                                ;
    
    }
} */



/* header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    max-width: 1440px;
    width: 100%;
   
}

header img{
    margin-left: 1rem;
}

header a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.section1{
    display: flex;
    flex-direction: column;
    
}

.left-side{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 399px;
}

.left-side h1{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 900;
    color: #162542;
}

.left-side p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: #7B8BAD;
}

.left-side a{
    text-decoration: none;
    color: #162542;
    padding: 1rem;
    font-weight: bolder;
    background-color: #E8Eff2;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.left-side .orange{
    background-color: #F16718 ;
    color: #fff;
    margin-right: 2rem;
}

.links{
    display: flex;
    flex-direction: row;
    
    
}

.right-side{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
   
   
}





.mobilekeys{
    width: 21rem;
    border-top-left-radius:1rem ;
    border-bottom-left-radius: 1rem ;
    margin-top: 2rem;
   
}

.tabletkeys{
    display: none;
}

.desktopkeys{
    display: none;
}

.littlesquare{
    display: none;
    height: 10rem;
    width: 10rem;
} */

/* @media screen and (min-width: 768px){
    .section1{
        
        flex-direction: row;
       margin-top: 3rem;

        
    }

    

    .mobilekeys{
        display: none;
    }

    .tabletkeys{
        display: block;
        width: 24rem;
        border-top-left-radius:1rem ;
        border-bottom-left-radius: 1rem ;
        height: 25rem;
    }


@media screen and (min-width: 1440px){
    .littlesquare{
        display: block;
        height: 10rem;
        width: 8rem;
        background-color: red;
        border-radius: 1rem;
        margin-left: 2rem;
      
    
    }

    .section1{
        
        flex-direction: row;
       margin-top: 1rem;
       justify-content: space-around;
     

        
    }

    .left-side{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        max-width: 550px;
    }

    .tabletkeys{
       display: none;
    }

    .desktopkeys{
        display: block;
        width: 40rem;
        border-radius: 1rem;
    }
} */





}